.sliding-backgrounde {
    position: relative;
    overflow: hidden;
}

.sliding-backgrounde::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(230, 160, 127, 0.3); /* Adjust the color and opacity as needed */
    transition: width 0.3s ease-in-out;
}

.sliding-backgrounde:hover::before {
    width: 100%;
}
